# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.coverage
htmlcov/
.tox/
.pytest_cache/
coverage.xml
*.cover

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Project specific
output/
devices.json
