# Include specific documentation files
include man/auto-discover.1
include CONTRIBUTING.md
include README.md
include version.txt

# Include Sphinx-generated documentation
recursive-include docs/source *.rst *.py
recursive-include docs/source/_themes *
recursive-include docs/source/_static *

# Exclude temporary Python files
global-exclude __pycache__/*

# Exclude version control directories
global-exclude .git
global-exclude .svn
